<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        <link rel="stylesheet" href="/css/styles.css">
        
        <a href="/home"> Home </a> <br>
        <a href="/mercury"> Mercury </a> <br>
        <a href="/venus"> Venus </a> <br>
        <a href="/earth"> Earth </a> <br>
    </head>
    <body>